{% extends "base.html" %}
{% block content %}
<b-container>
    <h3>{{ title }}</h3>
    <hr>
    {% if form %}
        <v-filter-form
                url="{{ request.path }}"
                :form="{{ form|form_tojson }}"
                submit-button-title="Find"
        ></v-filter-form>
        <hr>
    {% endif %}
    <v-follower-list
            :list="{{ list|tojson_escaped }}"
            follower-url="{{ url_for('follower.index', user_id=':id') }}"
            {% if request.query_string %}
                followers-url="{{ url_for(request.endpoint, page=':page') }}?{{ request.query_string.decode('utf-8') }}"
            {% else %}
                followers-url="{{ url_for(request.endpoint, page=':page') }}"
            {% endif %}

            send-url="{{ url_for('follower.send', user_id=':id') }}"
            accept-url="{{ url_for('follower.accept', user_id=':id') }}"
            {% if pagination %}
                :pagination="{{ pagination }}"
            {% endif %}
            {% if show_actions == False %}
                :show-actions="false"
            {% endif %}
    ></v-follower-list>
</b-container>
{% endblock %}
