<!DOCTYPE html>
<html>
<head>
    <title>Social Network</title>
</head>
<body>
<div id="app">
    <b-navbar
            toggleable="lg"
            class="border-bottom box-shadow mb-4"
            sticky="true"
            style="background-color: rgb(244,244,244)"
    >
        <b-avatar
                class="mr-2"
                button
                rounded
                :size="36"
                @click="location.href = '{{ url_for('main.index') }}'"
        ><b>SN</b></b-avatar>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item href="{{ url_for('follower.list_all') }}">Profiles</b-nav-item>
                <b-nav-item href="{{ url_for('follower.list') }}">Followers</b-nav-item>
            </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
                {% if current_user.get_id() %}
                    <b-nav-item-dropdown right>
                        <template v-slot:button-content>
                            <b-avatar :size="24"></b-avatar>
                        </template>
                        <b-dropdown-item href="{{ url_for('auth.logout') }}">Sign Out</b-dropdown-item>
                    </b-nav-item-dropdown>
                {% endif %}
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
    </footer>
</div>
<script src="{{ url_for('static', filename='build/bundle.js') }}"></script>
</body>
</html>
