{% extends "base.html" %}
{% block content %}
<b-container>
    <h3>{{ item.last_name }} {{ item.name }}</h3>
    <hr>
    <v-follower
            :item="{{ item|tojson_escaped }}"
            :followers="{{ followers|tojson_escaped }}"
            follower-url="{{ url_for('follower.index', user_id=':id') }}"
            send-url="{{ url_for('follower.send', user_id=':id') }}"
            accept-url="{{ url_for('follower.accept', user_id=':id') }}"
    ></v-follower>
</b-container>
{% endblock %}
